# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data & Images (DO NOT COMMIT DATASETS AND IMAGES)
data/raw/*
data/processed/*
tests/assets/*

# Except keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep
!tests/assets/.gitkeep